PORT=8000

DB_USER=bramasta
DB_PASS=bramasta
DB_DATABASE=rakit-tiket
DB_SCHEMA=public
APP_FILE_PATH=/home/bramasta/RakitTiket/rakit-tiket-be/assets/app_file 
MIGRATION_PATH=/home/bramasta/RakitTiket/rakit-tiket-be/internal/pkg/scripts
