openapi: 3.0.3
info:
  title: Rakit Tiket APIs
  version: 1.2.0
  description: |
    API versi **1.2**
    - Added Upsert (Multipart/JSON) capability for Admin Landing Page

servers:
  - url: https://api.rakittiket.com/api/v1
    description: Production server
  - url: http://212.85.24.75:8080/api/v1
    description: Local development

tags:
  - name: Public
    description: Endpoint publik (landing page, registrasi, order status)
  - name: Payment
    description: Integrasi Midtrans webhook & pengecekan status
  - name: Admin
    description: Endpoint dashboard admin (auth required)

paths:
  # --------------------------------------------------------------------------
  # PUBLIC ENDPOINTS
  # --------------------------------------------------------------------------
  /landing-page:
    get:
      tags: [Public]
      summary: Ambil data konfigurasi landing page
      description: Endpoint ini dipanggil oleh Frontend (Guest) untuk merender halaman utama.
      responses:
        "200":
          description: Data konfigurasi landing page lengkap
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPageConfig"

  /tickets:
    get:
      tags: [Public]
      summary: Ambil daftar semua jenis tiket
      responses:
        "200":
          description: Daftar tiket berhasil diambil
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Ticket"

  /register:
    post:
      tags: [Public]
      summary: Registrasi & checkout tiket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                registrant:
                  $ref: "#/components/schemas/RegistrantInput"
                attendees:
                  type: array
                  items:
                    $ref: "#/components/schemas/AttendeeInput"
                payment_method:
                  type: string
                  enum: [midtrans_snap]
      responses:
        "201":
          description: Registrasi berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: "#/components/schemas/OrderResponse"
                  registrant:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      unique_code: { type: string }

  # --------------------------------------------------------------------------
  # PAYMENT ENDPOINTS
  # --------------------------------------------------------------------------
  /payment/webhook:
    post:
      tags: [Payment]
      summary: Webhook notifikasi pembayaran Midtrans
      responses:
        "200":
          description: Webhook diterima

  /orders/{order_number}/status:
    get:
      tags: [Payment]
      summary: Cek status order
      parameters:
        - in: path
          name: order_number
          schema: { type: string }
          required: true
      responses:
        "200":
          description: Status order ditemukan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderStatusResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  # --------------------------------------------------------------------------
  # ADMIN ENDPOINTS
  # --------------------------------------------------------------------------
  /admin/login:
    post:
      tags: [Admin]
      summary: Login admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        "200":
          description: Login berhasil
          content:
            application/json:
              examples:
                success:
                  value:
                    token: "jwt_token_here"
                    token_type: "bearer"

  /admin/dashboard/summary:
    get:
      tags: [Admin]
      summary: Statistik utama dashboard
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Statistik utama

  /admin/dashboard/daily-sales:
    get:
      tags: [Admin]
      summary: Statistik penjualan harian
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Data penjualan harian

  /admin/participants/summary:
    get:
      tags: [Admin]
      summary: Statistik peserta & pembayaran
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Statistik peserta

  /admin/participants:
    get:
      tags: [Admin]
      summary: Daftar peserta dengan filter
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: ticket_types[]
          schema: { type: array, items: { type: string } }
        - in: query
          name: payment_status[]
          schema: { type: array, items: { type: string } }
      responses:
        "200":
          description: Daftar peserta

  # --------------------------------------------------------------------------
  # ADMIN LANDING PAGE (UPSERT)
  # --------------------------------------------------------------------------
  /admin/landing-page:
    get:
      tags: [Admin]
      summary: Lihat konfigurasi landing page (View Admin)
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Data konfigurasi ditemukan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPageSettingsInput"

    post:
      tags: [Admin]
      summary: Create Landing Page (Upsert Logic)
      description: |
        Membuat konfigurasi baru.
        - Jika menggunakan **JSON**, hanya data teks yang disimpan.
        - Jika menggunakan **Multipart**, data JSON dikirim dalam field `data` string, dan file dikirim terpisah.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LandingPageSettingsInput"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/LandingPageMultipartInput"
            encoding:
              data:
                contentType: application/json
      responses:
        "201":
          description: Konfigurasi berhasil dibuat/disimpan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPageSettingsInput"
        "400":
          description: Invalid Input / JSON Format Error

    put:
      tags: [Admin]
      summary: Update Landing Page (Upsert Logic)
      description: |
        Mengupdate konfigurasi. Logic sama dengan POST (Upsert).
        ID bisa dikirim di dalam body JSON atau parameter URL (opsional).
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LandingPageSettingsInput"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/LandingPageMultipartInput"
            encoding:
              data:
                contentType: application/json
      responses:
        "200":
          description: Konfigurasi berhasil diupdate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPageSettingsInput"

    delete:
      tags: [Admin]
      summary: Reset konfigurasi landing page
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Konfigurasi di-reset

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    NotFound:
      description: Data tidak ditemukan
      content:
        application/json:
          examples:
            notfound:
              value: { message: "Resource not found" }

  schemas:
    # ---------------- Basic Schemas ----------------
    Ticket:
      type: object
      properties:
        id: { type: string, format: uuid }
        code: { type: string }
        title: { type: string }
        price: { type: number }
        total: { type: integer }
        remaining: { type: integer }

    RegistrantInput:
      type: object
      required: [name, email, phone]
      properties:
        name: { type: string }
        email: { type: string }
        phone: { type: string }
        gender: { type: string }
        birthdate: { type: string, format: date }

    AttendeeInput:
      type: object
      properties:
        ticket_id: { type: string, format: uuid }
        name: { type: string }

    OrderResponse:
      type: object
      properties:
        order_number: { type: string }
        midtrans_snap_token: { type: string }

    OrderStatusResponse:
      type: object
      properties:
        order_number: { type: string }
        payment_status: { type: string }

    # ---------------- Admin Landing Page Schemas ----------------
    LandingPageSettingsInput:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "019a9041-088f-703a-9452-da1ba4d9bc56"
        
        # --- Event Info ---
        event_name: { type: string, example: "Rakit Music Fest 2026" }
        event_subtitle: { type: string, example: "Experience the Future of Sound in Malang" }
        event_creator: { type: string, example: "mtp.project" }
        event_date: { type: string, format: date, example: "2026-02-14" }
        event_time_start: { type: string, example: "13:30" }
        event_time_end: { type: string, example: "17:30" }
        event_location: { type: string, example: "Istora Papua, Jayapura" }
        logo_image: { type: string, example: "IMAGE_FILE" }

        # --- Hero Section ---
        hero_id: { type: string, example: "hero_1" }
        banner_image: { type: string, example: "IMAGE_FILE" }
        banner_color: { type: string, example: "#000000" }
        hero_button_id: { type: string, example: "hero_button_1" }
        hero_button_text: { type: string, example: "Beli Tiket Sekarang" }
        hero_button_link: { type: string, example: "https://google.com" }
        
        # --- Countdown ---
        hero_countdown_id: { type: string, example: "countdown_1" }
        hero_countdown_date: { type: string, format: date, example: "2026-02-14" }
        hero_countdown_time_start: { type: string, example: "13:30" }
        hero_countdown_time_end: { type: string, example: "17:30" }
        hero_countdown_after_text: { type: string, example: "Event Selesai" }

        # --- Venue Section ---
        venue_id: { type: string, example: "venue_1" }
        venue_image: { type: string, example: "IMAGE_FILE" }
        venue_layout: { type: string, example: "IMAGE_FILE" }
        venue_address: { type: string, example: "Jl. Raya Jayapura No. 123" }
        venue_map_link: { type: string, example: "https://google.com" }
        venue_google: { type: string, example: "https://google.com/venue" }

        # --- Terms & Conditions ---
        terms_and_conditions:
          type: array
          items:
            type: object
            properties:
              label: { type: string, example: "General Rules" }
              items:
                type: array
                items: { type: string, example: "No Weapons" }

        # --- FAQ ---
        faq:
          type: array
          items:
            type: object
            properties:
              question: { type: string, example: "Boleh bawa makanan?" }
              answer: { type: string, example: "Tidak boleh." }
        
    # 2. Schema untuk Multipart Form Data (File + JSON String)
    LandingPageMultipartInput:
      type: object
      properties:
        data:
          description: |
            JSON String yang berisi data konfigurasi (sesuai schema LandingPageSettingsInput).
            Backend akan melakukan `json.Unmarshal` pada field ini.
          $ref: "#/components/schemas/LandingPageSettingsInput"
        banner_image_file:
          type: string
          format: binary
          description: File gambar banner (optional)
        venue_image_file:
          type: string
          format: binary
          description: File gambar venue (optional)

    # 3. Schema untuk Public View (Gabungan setting + data dinamis lain)
    LandingPageConfig:
      allOf:
        - $ref: "#/components/schemas/LandingPageSettingsInput"
        - type: object
          properties:
            tickets:
              type: array
              items: { $ref: "#/components/schemas/Ticket" }