openapi: 3.0.3
info:
  title: Rakit Tiket APIs
  version: 1.2.0
  description: |
    API versi **1.2**
    - Grouped Admin Auth
    - Grouped Admin Dashboard
    - Grouped Admin Landing Page CRUD
    - Grouped Admin Ticket CRUD
    - Grouped Admin Participant
    
servers:
  - url: https://api.rakittiket.tech/api/v1
    description: Production server
  - url: http://localhost:8000/api/v1/admin
    description: Local Admin development
  - url: http://localhost:8000/api/v1
    description: Local development

tags:
  - name: Public
    description: Endpoint publik (landing page, registrasi, order status)
  - name: Payment
    description: Integrasi Midtrans webhook & pengecekan status
  - name: Admin - Auth
    description: Admin Authentication (Login)
  - name: Admin - Dashboard
    description: Admin Dashboard (Summary & Sales Stats)
  - name: Admin - Participants
    description: Admin Participant (List & Filter)
  - name: Admin - Landing Page
    description: Admin Landing Page (CRUD)
  - name: Admin - Tickets
    description: Admin Ticket (CRUD)

paths:
  # --------------------------------------------------------------------------
  # PUBLIC ENDPOINTS
  # --------------------------------------------------------------------------
  /landing-page:
    get:
      tags: [Public]
      summary: Ambil data konfigurasi landing page
      description: Endpoint ini dipanggil oleh Frontend (Guest) untuk merender halaman utama.
      responses:
        "200":
          description: Data konfigurasi landing page lengkap
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPageConfig"

  /tickets:
    get:
      tags: [Public]
      summary: Ambil daftar semua jenis tiket
      responses:
        "200":
          description: Daftar tiket berhasil diambil
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Ticket"

  /register:
    post:
      tags: [Public]
      summary: Registrasi & checkout tiket
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                registrant:
                  $ref: "#/components/schemas/RegistrantInput"
                attendees:
                  type: array
                  items:
                    $ref: "#/components/schemas/AttendeeInput"
                payment_method:
                  type: string
                  enum: [midtrans_snap]
      responses:
        "201":
          description: Registrasi berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  order:
                    $ref: "#/components/schemas/OrderResponse"
                  registrant:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      unique_code: { type: string }

  # --------------------------------------------------------------------------
  # PAYMENT ENDPOINTS
  # --------------------------------------------------------------------------
  /payment/webhook:
    post:
      tags: [Payment]
      summary: Webhook notifikasi pembayaran Midtrans
      responses:
        "200":
          description: Webhook diterima

  /orders/{order_number}/status:
    get:
      tags: [Payment]
      summary: Cek status order
      parameters:
        - in: path
          name: order_number
          schema: { type: string }
          required: true
      responses:
        "200":
          description: Status order ditemukan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderStatusResponse"
        "404":
          $ref: "#/components/responses/NotFound"

  # --------------------------------------------------------------------------
  # ADMIN AUTH ENDPOINTS
  # --------------------------------------------------------------------------
  /admin/login:
    post:
      tags: [Admin - Auth]
      summary: Login admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email, example: "admin@rakittiket.tech" }
                password: { type: string, example: "password123" }
      responses:
        "200":
          description: Login berhasil
          content:
            application/json:
              examples:
                success:
                  value:
                    token: "jwt_token_here"
                    token_type: "bearer"

  # --------------------------------------------------------------------------
  # ADMIN DASHBOARD ENDPOINTS
  # --------------------------------------------------------------------------
  /admin/dashboard/summary:
    get:
      tags: [Admin - Dashboard]
      summary: Statistik utama dashboard
      description: Mengambil ringkasan total pendapatan, total tiket terjual, dll.
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Statistik utama berhasil diambil
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardSummary"

  /admin/dashboard/daily-sales:
    get:
      tags: [Admin - Dashboard]
      summary: Statistik penjualan harian
      description: Mengambil data penjualan per hari untuk grafik.
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Data penjualan harian berhasil diambil
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DailySalesData"

  # --------------------------------------------------------------------------
  # ADMIN PARTICIPANTS (GROUP)
  # --------------------------------------------------------------------------
  /admin/participants/summary:
    get:
      tags: [Admin - Participants]
      summary: Statistik peserta & pembayaran
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Statistik peserta berhasil diambil
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParticipantSummary"

  /admin/participants:
    get:
      tags: [Admin - Participants]
      summary: Daftar peserta dengan filter
      description: Mengambil daftar peserta yang sudah mendaftar/membayar dengan filter opsional.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: ticket_types[]
          schema: { type: array, items: { type: string } }
          description: Filter berdasarkan ID jenis tiket
        - in: query
          name: payment_status[]
          schema: { type: array, items: { type: string, enum: [pending, paid, expired] } }
          description: Filter berdasarkan status pembayaran
        - in: query
          name: search
          schema: { type: string }
          description: Cari nama atau email peserta
      responses:
        "200":
          description: Daftar peserta berhasil diambil
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Participant"

  # --------------------------------------------------------------------------
  # ADMIN LANDING PAGE (CRUD GROUP)
  # --------------------------------------------------------------------------
  /admin/landing-page:
    get:
      tags: [Admin - Landing Page]
      summary: Read konfigurasi landing page 
      security: [{ bearerAuth: [] }]
      responses:
        "200":
          description: Data konfigurasi ditemukan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPageSettingsInput"

    post:
      tags: [Admin - Landing Page]
      summary: Create Landing Page (Upsert Logic)
      description: |
        Membuat konfigurasi baru.
        - Jika menggunakan **JSON**, kirim body raw JSON biasa.
        - Jika menggunakan **Multipart**, kirim field `data` (JSON Object) dan file terpisah.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LandingPageSettingsInput"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/LandingPageMultipartInput"
            encoding:
              data:
                contentType: application/json
      responses:
        "201":
          description: Konfigurasi berhasil dibuat/disimpan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPageSettingsInput"
        "400":
          description: Invalid Input / JSON Format Error

    put:
      tags: [Admin - Landing Page]
      summary: Update Landing Page (Upsert Logic)
      description: |
        Mengupdate konfigurasi. Logic sama dengan POST (Upsert).
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LandingPageSettingsInput"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/LandingPageMultipartInput"
            encoding:
              data:
                contentType: application/json
      responses:
        "200":
          description: Konfigurasi berhasil diupdate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LandingPageSettingsInput"

  /admin/landing-page/{id}:
    delete:
      tags: [Admin - Landing Page]
      summary: Delete Landing Page
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          schema:
            type: string
            format: uuid
          required: true
          description: UUID dari Landing Page yang ingin dihapus
      responses:
        "200":
          description: Konfigurasi di-reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }

  # --------------------------------------------------------------------------
  # ADMIN TICKETS (CRUD GROUP)
  # --------------------------------------------------------------------------
  /admin/tickets:
    post:
      tags: [Admin - Tickets]
      summary: Insert Tickets (Bulk)
      description: Create ticket baru. Kirim array object ticket.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/TicketInput"
      responses:
        "201":
          description: Tiket berhasil dibuat
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ticket"


  /admin/ticket:
    post:
      tags: [Admin - Tickets]
      summary: Insert Ticket (Single)
      description: Create ticket baru. Kirim array object ticket (tanpa ID).
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/TicketInput"
      responses:
        "201":
          description: Tiket berhasil dibuat
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ticket"

    put:
      tags: [Admin - Tickets]
      summary: Update Tickets (Bulk)
      description: Update multiple tiket sekaligus. Wajib kirim ID di dalam body.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Ticket"
      responses:
        "200":
          description: Tiket berhasil diupdate
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Ticket"

  /admin/ticket/{id}:
    put:
      tags: [Admin - Tickets]
      summary: Update Single Ticket
      description: Update satu tiket berdasarkan ID di URL. Body tidak perlu ID.
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          schema: { type: string, format: uuid }
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TicketInput"
      responses:
        "200":
          description: Tiket berhasil diupdate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"

    delete:
      tags: [Admin - Tickets]
      summary: Soft Delete Ticket
      description: Menghapus tiket (Soft Delete)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: id
          schema: { type: string, format: uuid }
          required: true
      responses:
        "200":
          description: Tiket berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Ticket deleted successfully"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    NotFound:
      description: Data tidak ditemukan
      content:
        application/json:
          examples:
            notfound:
              value: { message: "Resource not found" }

  schemas:
    # ---------------- Basic Schemas ----------------
    Ticket:
      type: object
      properties:
        id: { type: string, format: uuid }
        code: { type: string }
        title: { type: string }
        price: { type: number }
        total: { type: integer }
        remaining: { type: integer }
    
    TicketInput:
      type: object
      required: [code, title, price, total]
      properties:
        code: { type: string, example: "PRESALE-1" }
        title: { type: string, example: "Presale Ticket" }
        price: { type: number, example: 150000 }
        total: { type: integer, example: 100 }
        remaining: { type: integer, example: 100 }

    # ---------------- Dashboard Schemas (New) ----------------
    DashboardSummary:
      type: object
      properties:
        total_revenue: { type: number, example: 50000000 }
        total_tickets_sold: { type: integer, example: 120 }
        total_check_in: { type: integer, example: 45 }
        total_participants: { type: integer, example: 150 }
    
    DailySalesData:
      type: object
      properties:
        date: { type: string, format: date, example: "2026-02-14" }
        total_sales: { type: number, example: 1500000 }
        ticket_count: { type: integer, example: 10 }

    # ---------------- Participant Schemas ----------------
    Participant:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "John Doe" }
        email: { type: string, format: email, example: "john@example.com" }
        phone: { type: string, example: "08123456789" }
        ticket_code: { type: string, example: "PRESALE-1" }
        ticket_title: { type: string, example: "Presale Ticket" }
        payment_status: { type: string, enum: [paid, pending, expired], example: "paid" }
        check_in_status: { type: boolean, example: false }
        registered_at: { type: string, format: date-time }

    ParticipantSummary:
      type: object
      properties:
        total_participants: { type: integer, example: 150 }
        checked_in: { type: integer, example: 50 }
        total_revenue: { type: number, example: 22500000 }
        chart_data: 
          type: array
          items:
             type: object
             properties:
                date: { type: string, format: date }
                count: { type: integer }

    RegistrantInput:
      type: object
      required: [name, email, phone]
      properties:
        name: { type: string }
        email: { type: string }
        phone: { type: string }
        gender: { type: string }
        birthdate: { type: string, format: date }

    AttendeeInput:
      type: object
      properties:
        ticket_id: { type: string, format: uuid }
        name: { type: string }

    OrderResponse:
      type: object
      properties:
        order_number: { type: string }
        midtrans_snap_token: { type: string }

    OrderStatusResponse:
      type: object
      properties:
        order_number: { type: string }
        payment_status: { type: string }

    # ---------------- Admin Landing Page Schemas ----------------
    LandingPageSettingsInput:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "019a9041-088f-703a-9452-da1ba4d9bc56"
        
        # --- Event Info ---
        event_name: { type: string, example: "Rakit Music Fest 2026" }
        event_subtitle: { type: string, example: "Experience the Future of Sound in Malang" }
        event_creator: { type: string, example: "mtp.project" }
        event_date: { type: string, format: date, example: "2026-02-14" }
        event_time_start: { type: string, example: "13:30" }
        event_time_end: { type: string, example: "17:30" }
        event_location: { type: string, example: "Istora Papua, Jayapura" }
        logo_image: { type: string, description: "Nama file atau URL logo", example: "logo_v1.png" }

        # --- Hero Section ---
        hero_id: { type: string, example: "hero_1" }
        banner_image: { type: string, description: "Nama file atau URL banner", example: "banner_main.jpg" }
        banner_color: { type: string, example: "#000000" }
        hero_button_id: { type: string, example: "hero_button_1" }
        hero_button_text: { type: string, example: "Beli Tiket Sekarang" }
        hero_button_link: { type: string, example: "https://google.com" }
        
        # --- Countdown ---
        hero_countdown_id: { type: string, example: "countdown_1" }
        hero_countdown_date: { type: string, format: date, example: "2026-02-14" }
        hero_countdown_time_start: { type: string, example: "13:30" }
        hero_countdown_time_end: { type: string, example: "17:30" }
        hero_countdown_after_text: { type: string, example: "Event Selesai" }

        # --- Venue Section ---
        venue_id: { type: string, example: "venue_1" }
        venue_image: { type: string, description: "Nama file atau URL venue", example: "venue_photo.jpg" }
        venue_layout: { type: string, description: "Nama file atau URL layout", example: "layout_seat.jpg" }
        venue_address: { type: string, example: "Jl. Raya Jayapura No. 123" }
        venue_map_link: { type: string, example: "https://google.com" }
        venue_google: { type: string, example: "https://google.com/venue" }

        # --- Terms & Conditions ---
        terms_and_conditions:
          type: array
          items:
            type: object
            properties:
              label: { type: string, example: "General Rules" }
              items:
                type: array
                items: { type: string, example: "No Weapons" }

        # --- FAQ ---
        faq:
          type: array
          items:
            type: object
            properties:
              question: { type: string, example: "Boleh bawa makanan?" }
              answer: { type: string, example: "Tidak boleh." }
        
    # 2. Schema untuk Multipart Form Data
    LandingPageMultipartInput:
      type: object
      properties:
        data:
          type: object
          description: |
            JSON Object data konfigurasi.
            (Pastikan content-type part ini diset application/json)
          allOf:
            - $ref: "#/components/schemas/LandingPageSettingsInput"
        banner_image_file:
          type: string
          format: binary
          description: Upload file baru untuk banner (optional)
        venue_image_file:
          type: string
          format: binary
          description: Upload file baru untuk venue (optional)

    # 3. Schema untuk Public View (Gabungan setting + data dinamis lain)
    LandingPageConfig:
      allOf:
        - $ref: "#/components/schemas/LandingPageSettingsInput"
        - type: object
          properties:
            tickets:
              type: array
              items: { $ref: "#/components/schemas/Ticket" }